<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{#if title}}{{title}} - {{/if}}loadingreadyrun.com</title>
	<link href="styles/lrr/theme/fonts/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="styles/lrr/theme/fonts/glyphicons-pro-1.9.2/css/glyphicons.css" rel="stylesheet">
	<link href="styles/lrr/theme/stylesheet7712.css?assets_version=4" rel="stylesheet">
	<!--[if lte IE 9]>
		<link href="./styles/lrr/theme/tweaks.css?assets_version=4" rel="stylesheet">
	<![endif]-->
	<style type="text/css">
	progress {
		display: block;
		width: 100%;
	}
	</style>
	{{#if showProgress}}
	<style type="text/css">
	progress {
		display: block;
		width: 100%;
	}
	</style>
	<script language="JavaScript">
		const refreshTimeout = window.setInterval(updateProgress, 10000);
		window.addEventListener("DOMContentLoaded", updateProgress);
		async function updateProgress() {
			const progressRequest = await fetch("progress.json");
			if (progressRequest.ok) {
				const progressObj = await progressRequest.json();
				if (progressObj) {
					document.querySelector("body div.ProgressNotes").innerHTML = `<h1>Site Updating...</h1>`;
					progressObj.forEach((entry) => {
						let newLine = document.getElementById("progressLine").content.cloneNode(true);
						newLine.querySelector("div.taskDescription").textContent = entry.description;
						if (entry.total) {
							newLine.querySelector("progress").max = entry.total;
							newLine.querySelector("progress").value = entry.progress + 1;
							newLine.querySelector("span.taskNumbers").textContent = `${entry.progress}/${entry.total}`;
						}
						if (entry.eta) {
							newLine.querySelector("span.taskETA").textContent = entry.eta;
						}
						newLine.id = `task-${entry.taskName}`;
						document.querySelector("body div.ProgressNotes").appendChild(newLine);
					});
				} else {
					document.querySelector("body div.ProgressNotes").innerHTML = "";
					window.clearInterval(refreshTimeout);
				}
			}
		}
	</script>
	{{/if}}
</head>
<body id="phpbb" class="nojs notouch section-index ltr " data-online-text="Online">
	<template id="progressLine">
		<div class="progressContainer">
			<div class="progress taskCompletion" style="float: right;"><span class="taskNumbers"></span><span class="taskETA"></span></div>
			<div class="progress taskDescription"></div>
			<progress id="taskNameProgress"></progress>
		</div>
	</template>
	<div id="background">
		<div id="container">
			<h1 id="header"><a href="https://loadingreadyrun.com/"><img src="img/header.png" width="842" height="63"/></a></h1>
			<div id="navbar">
				<ul><li id="about"><a href="https://loadingreadyrun.com/info/about"><img src="img/navbar-about.gif" width="77" height="16" alt="About"/></a></li><li id="archive"><a href="https://loadingreadyrun.com/videos/archive"><img src="img/navbar-videos.gif" width="93" height="16" alt="Video Archive"/></a></li><li id="live"><a href="https://loadingreadyrun.com/live"><img src="img/navbar-live.gif" width="60" height="14" alt="LoadingReadyLive"/></a></li><li id="blog"><a href="https://loadingreadyrun.com/blog"><img src="img/navbar-blog.gif" width="61" height="16" alt="blog" /></a></li><li id="store"><a href="http://store.loadingreadyrun.com/"><img src="img/new.png" id="new_badge" /><img src="img/navbar-store.gif" width="77" height="16" alt="Store" /></a></li><li><a href="http://wiki.loadingreadyrun.com/"><img src="img/navbar-wiki.gif" width="61" height="16" alt="wiki" /></a></li><li class="last" id="forum"><a href="https://loadingreadyrun.com/forum"><img src="img/navbar-forum.gif" width="80" height="16" alt="forum" /></a></li></ul>
		 	</div>
			<div class="ProgressNotes">
				<h1>Please Note</h1>
				<h3>This is a static backup of the LRR Forums. It is unfortunately incomplete at this time, but I'm working on it</h3>
				<h5>Anaerin</h5>
			</div>
			<div class="navbar tabbed not-static" role="navigation">
				<div class="inner page-width">
					<div class="static-inner">
						<div class="nav-tabs" data-current-page="index">
							<ul class="leftside">
								<li class="tab forums selected" data-responsive-class="small-icon icon-forums" title="Forums" data-responsive-index="-1">
									<a class="nav-link" href="index.htm">Forums</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="navbar secondary">
				<ul role="menubar">
					<li class="small-icon icon-search responsive-cloned-item" data-clone-index="0">
						<a href="search.htm">Search</a>
					</li>
				</ul>
			</div>