{{>pageheader}}
<div id="wrap" class="page-width">
	<a id="start_here" class="anchor"></a>
	<div id="page-body" role="main">
		<div class="navbar nav-breadcrumbs">
			{{>breadcrumbs}}
		</div>
		{{{forumPage}}}
	</div>
</div>
{{>pagefooter}}