<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{#if title}}{{title}} - {{/if}}loadingreadyrun.com</title>
		{{#if canonicalLink}}<link rel="canonical" href="{{canonicalLink}}">{{/if}}
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body id="phpbb_flattener">
		<h1 id="header"><a href="https://loadingreadyrun.com/"><img src="https://loadingreadyrun.com/img/header.png" width="842" height="63"/></a></h1>
		<div id="navbar">
			<ul><li id="about"><a href="https://loadingreadyrun.com/info/about"><img src="https://loadingreadyrun.com/img/navbar-about.gif" width="77" height="16" alt="About"/></a></li><li id="archive"><a href="https://loadingreadyrun.com/videos/archive"><img src="https://loadingreadyrun.com/img/navbar-videos.gif" width="93" height="16" alt="Video Archive"/></a></li><li id="live"><a href="https://loadingreadyrun.com/live"><img src="https://loadingreadyrun.com/img/navbar-live.gif" width="60" height="14" alt="LoadingReadyLive"/></a></li><li id="blog"><a href="https://loadingreadyrun.com/blog"><img src="https://loadingreadyrun.com/img/navbar-blog.gif" width="61" height="16" alt="blog" /></a></li><li id="store"><a href="http://store.loadingreadyrun.com/"><img src="https://loadingreadyrun.com/img/new.png" id="new_badge" /><img src="https://loadingreadyrun.com/img/navbar-store.gif" width="77" height="16" alt="Store" /></a></li><li><a href="http://wiki.loadingreadyrun.com/"><img src="https://loadingreadyrun.com/img/navbar-wiki.gif" width="61" height="16" alt="wiki" /></a></li><li class="last" id="forum"><a href="https://loadingreadyrun.com/forum"><img src="https://loadingreadyrun.com/img/navbar-forum.gif" width="80" height="16" alt="forum" /></a></li></ul>
		 </div>
		 {{{content}}}
	</body>
</html>